body {
	height: 100%;
	margin: 0;
	background-image: url(/resources/pics/SimpleThings.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
