@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");

body {
    height: 100%;
    font-family: "Source Sans Pro", sans-serif;
    background: #2C3E50;
    color: #fff;
    max-width: 900px;
    margin: 0 auto;
    overflow: auto;
}
.title {
    font-size: 5em;
    font-weight: normal;
}
.title-text {
    font-size: 5em;
    font-weight: normal;
    padding-top: 18px;
}
.title2 {
    font-size: 2em;
    font-weight: normal;
}
.paragraph {
    font-size: 1.5em;
    font-weight: normal;
}
a {
    color: orange;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.circular {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    display: inline-block;
}
.linksTeam {
  display: inline-block;
  vertical-align: top;
  width: 15em;
  max-width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em;
  text-align: center;
}
.name {
  display: block;
  padding: .5em 0;
}
#logo {
  float: left;
  width: 128px;
  height: 128px;
}
