body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: #2C3E50;
}
.title {
    font-variant: normal;
    font-weight: bold;
    font-size: 5em;
}
.title2 {
    font-variant: normal;
    font-weight: bold;
    font-size: 2em;
}
#intro {
    text-align: center;
}
