@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");

body {
    height: 100%;
    font-family: "Source Sans Pro", Roboto, sans-serif;
    background: #2C3E50;
    color: white;
}
.title {
    font-size: 5em;
    font-weight: normal;
}
#intro {
    max-width: 700px;
    margin: 0 auto;
    overflow: auto;
}
#form {
    overflow: auto;
    display: inline-flex;
    width: 400px;
    margin-top: 50px;
}
#form > input {
    height: 40px;
    padding: 5px 10px;
    box-sizing: border-box;
    border: none;
    background: white;
    float: left;
    font: inherit;
}
#form > input[type="text"] {
    flex: 1;
}
#form > input[type="submit"] {
    background-color: #0095DD;
    color: white;
}
