body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-image: url(/resources/pics/Prime.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.title {
    font-variant: normal;
    font-weight: bold;
    font-size: 5em;
}
.title2 {
    font-variant: normal;
    font-weight: bold;
    font-size: 2em;
}
#intro {
    text-align: center;
}
